# ignore ALL files in ANY directory named temp
data/sims/
data/exp_raw/
data/exp_pro/

/A_cyl0000.png
/A_cyl0342.png
/A_cyl0643.png
/A_cyl0809.png
/A_cyl0906.png
/Added_Damping_vs_KR_p1.png
/Added_Damping_vs_KR_p2.png
/Added_Mass_vs_KR_p1.png
/Added_Mass_vs_KR_p2.png
/B_cyl0000.png
/B_cyl0342.png
/B_cyl0643.png
/B_cyl0809.png
/B_cyl0906.png
/E.vtu
/Gammasbm.vtu
/activemodelHR1.vtu
/activemodelHR2.vtu
/activemodelHR3.vtu
/activemodelHR4.vtu
/activemodelHR5.vtu
/background.vtu
/backgroundmodel1.vtu
/backgroundmodel2.vtu
/backgroundmodel3.vtu
/backgroundmodel4.vtu
/backgroundmodel5.vtu
/cutfems_d.png
/cutfems_d_zoom.png
/cutfems_error.png
/cutfems_m.png
/cutfems_m_zoom.png
/cutmodelHR1.vtu
/cutmodelHR2.vtu
/cutmodelHR3.vtu
/cutmodelHR4.vtu
/cutmodelHR5.vtu
/cutmodel_rect1.vtu
/data
/model
/model.pvtu
/model.vtu
/model1.vtu
/modelHR1.vtu
/modelagfem.vtu
/rect_activemodelHR1.vtu
/rect_activemodelHR2.vtu
/rect_activemodelHR3.vtu
/rect_activemodelHR4.vtu
/rect_activemodelHR5.vtu
/rect_backgroundmodel1.vtu
/rect_backgroundmodel2.vtu
/rect_backgroundmodel3.vtu
/rect_backgroundmodel4.vtu
/rect_backgroundmodel5.vtu
/rect_cutmodelHR1.vtu
/rect_cutmodelHR2.vtu
/rect_cutmodelHR3.vtu
/rect_cutmodelHR4.vtu
/rect_cutmodelHR5.vtu
/rect_sbmmodelHR1.vtu
/rect_sbmmodelHR2.vtu
/rect_sbmmodelHR3.vtu
/rect_sbmmodelHR4.vtu
/rect_sbmmodelHR5.vtu
/sbmmodelHR1.vtu
/sbmmodelHR2.vtu
/sbmmodelHR3.vtu
/sbmmodelHR4.vtu
/sbmmodelHR5.vtu
/sbmmodel_rect1.vtu
